.transaction-wrap {
  &:empty {
    &:after {
      content: 'You have yet to make a transaction.';
      color: @text-light;
    }
  }
}

.transaction-row {
  display: flex;
  width: 100%;
  border: 1px solid @border-color;
  margin: @spacer / 3 0;
  padding: @spacer / 2;
  align-items: center;

  .icon {
    font-size: 2rem;
    padding-top: 0.5rem;
    margin-right: 0.75rem;
  }
  .plus {
    color: @brand-success;
  }
  .minus {
    color: @brand-danger;
  }
}

.row-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  p {
    margin: 0;
  }
}

.row-amount {
  font-size: 1.25rem;
  font-weight: bold;
}

.row-title {
  font-size: 1.25rem;
}
